<form action= "/projectBoard" method="Post">
 <label>Enter Project details</label>
 <input type= "text" name="name" required placeholder= "name">
 <button type="submit">Submit</button>
 </form> 
 <h1 id="BoardsTitle">ProjectBoards</h1>
 <div class="container">
     <section>
     {{#each projectBoard}}
         <article>
             <header></header>
            <a id="boardLine" href="/column/{{this.id}}">
              <div class="boardTitle">
                  <h1>{{this.Title}}</h1>
              </div>
             </a>
         </article>
     {{/each}}
  </section>
 </div>

 </div>