<h1>Forgot Password</h1>

<form action="/forgot-password/:userEmail" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <br>
    <button type="submit" value="submit">Submit:</button>
</form>