<!--home.handlebars-->
<section class="home">
<h1>Dashboard</h1>
{{#each Dashboard}}
    <article>
        <label>
            Name:
            <span>{{this.Title}}<button type="button">Button</button></span>
        </label>
       
    </article>
{{/each}}
<a href= "/projectboard">add companies</a>
</section>projectBoard/