<h1>Reset Password</h1>

<form action="" method="post">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <br>
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" name="confirm-password" id="confirm-password">
    <br>
    <input type="submit" value="reset password">

</form>